#App {
  background-color: var(--rally-gray);
  color: white;
  min-width: 100%;
  min-height: 100vh;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}