:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


:root{
  --rally-green: #1EB980;
  --raly-dark-green: #045d56;
  --rally-orange: #FF6859;
  --rally-yellow: #FFCF44;
  --rally-purple: #B15DFF;
  --rally-blue: #72deff;
  --rally-gray: #33333D;
  --rally-black: #27272F;
}
