#Navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1em;
    flex-direction: row;
    justify-content: space-around;
}

.page {
    font-size: 2em;
    font-weight: 300;
    color: white;
}

.unlink {
    text-decoration: none;
}